Repository Egregious-Eggnog/reactive-nutshell, pull requests merged in 2019-12, with the labels that each got.

#33 added api manager for CRUD calls
  package-lock.json
  src/modules/APIManager.js
Labels: API

#35 Lr post events
  src/components/ApplicationViews.js
  src/components/events/EventCard.js
  src/components/events/EventEditForm.js
  src/components/events/EventForm.js
  src/components/events/EventList.js
  src/components/events/Events.css
  src/index.js
Labels: Events

#37 Lr delete events
  src/components/ApplicationViews.js
  src/components/events/EventCard.js
  src/components/events/EventEditForm.js
  src/components/events/EventForm.js
  src/components/events/EventList.js
  src/components/events/Events.css
Labels: Events

#40 disabled ability to delete friends events
  src/components/events/EventCard.js
Labels: Events

#41 Kb friends add
  src/components/friends/FriendList.js
  src/components/friends/FriendSearch.js
  src/components/friends/FriendWrapper.js
Labels: Friends

#44 added typeahead search to friends
  package-lock.json
  package.json
  src/components/friends/FriendSearch.js
Labels: Friends

#54 Kb async await alerts
  package-lock.json
  package.json
  src/components/ApplicationViews.js
  src/components/Nutshell.css
  src/components/Nutshell.js
  src/components/NutshellAlert.js
  src/components/articles/ArticleEditForm.js
  src/components/articles/ArticleForm.js
  src/components/articles/ArticleList.js
  src/components/auth/Login.js
  src/components/friends/Friend.css
  src/components/friends/FriendCard.js
  src/components/friends/FriendList.js
  src/components/friends/FriendSearch.js
  src/components/friends/FriendWrapper.js
  src/components/message/MessageCard.js
  src/components/nav/NavBar.js
  src/components/task/TaskCard.js
  src/components/task/TaskList.js
  src/modules/APIManager.js
  src/modules/TaskAPIManager.js
Labels: Alert, Friends

#56 clear typeahead on search
  src/components/ApplicationViews.js
  src/components/friends/FriendCard.js
  src/components/friends/FriendList.js
  src/components/friends/FriendSearch.js
  src/components/friends/FriendWrapper.js
Labels: Friends
